.main-area{
    float: left;
    width: 600px;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 20px;
}
.contentarea{
    float: left;
    width: 300px;
    margin-top: 18px;
}
.picNewsBg{
    background: white;
    width: 90%;
    height: auto;
    float: left;
    padding: 15px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
}
.picNewsBg img{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}
.picNewsBg span{
    text-align: center;
    color: red;
    font-size: 13px;
}
.dateName{
    text-align: right;
}