body{
    background: white;
    font-family: 'Times New Roman';
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: -18px;
    margin-bottom: 0;
}
@media screen and (min-width:1200px) {
    body{
        font-size: 20px;
    }
    .container{
        max-width: 1200px;
    }
}
@media screen and (max-width:480px) {
    body{
        font-size: 14px;
    }
    .container{
        max-width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.name{
    margin-top: 20px;
    margin-bottom: 20px;
}
.name h1{
    text-align: center;
    color: red;
    font-size: 25px;
    font-family: 'Tahoma';
}
.sitenav{
    height: 50px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.sitenav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.sitenav li{
    list-style: none;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.sitenav a{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-right: 50px;
    margin-left: 10px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.sitenav a.active{
    color: red;
    border-bottom: 3px solid red;
}
.sitenav a:hover{
    color: red;
    border-bottom: 3px solid red;
    transition: 0.2s;
}
.breakingNews a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:480px) {
    .breakingNews img{
        width: auto;
    }
    .breakingNews a{
        font-size: 14px;
    }
}
.topNews a{
    text-decoration: none;
    color: black;
}
.picNews a{
    text-decoration: none;
    color: black;
}
.devtonic{
    margin-top: 20px;
}
.contactform{
    background: rgb(255, 239, 239);
    height: 180px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 15px;
}
label{
    font-size: 18px;
    font-weight: 500;
}
input{
    height: 20px;
    width: 70%;
    margin-left: 8px;
}
.sub{
    height: 25px;
    width: 20%;
    margin-top: 10px;
    margin-right: 142px;
    background: red;
    color: #efefef;
    border-radius: 7px;
}
.main-area{
    float: left;
    width: 600px;
    box-sizing: border-box;
    margin-right: 20px;
    padding: 20px;
}
.content-area{
    float: left;
    width: 300px;
    margin-top: 18px;
}
@media screen and (min-width:1200px) {
    .main-area{
        width: 700px;
        margin-right: 30px;
    }
    .content-area{
        width: 400px;
    }
}
@media screen and(max-width:700px) {
    .main-area, .content-area{
        width: auto;
        float: none;
    }
    .main-area{
        padding: 0;
    }
}
.group:before,
.group:after{
    display: table;
    content: "";
}
.group:after{
    clear: both;
}
.group{
    zoom: 1;
}
.topNews{
    margin-top: 5px;
}
.topNews h2{
    color: red;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    z-index: 3;
    padding-left: 20px;
    text-align: center;
}
.top1{
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.top1:hover{
    box-shadow: 0px 2px rgba(0,0,0,0.2);
}
.top1 img{
    float: left;
    height: 80px;
    width: 100px;
    margin-right: 10px;
}
.top1 p{
    font-size: 20px;
}
.breakingNews img{
    width: 100%;
}
.breakingNews span{
    font-size: 40px;
}
.picNews{
    margin-top: 20px;
    background-color: #ababab1e;
    width: 100%;
    border-radius: 20px;
}
@media screen and (max-width:480px) {
    .picNews{
        width: auto;
    }
}
.picNews h2{
    text-align: center;
    color: red;
}
.picNews h4{
    font-size: 16px;
    margin-top: -1px;
}
.image1{
    text-align: center;
    float: left;
    margin-left: 62px;
    margin-right: 15px;
    width: 200px;
    background-color: white;
    height: 320px;
    margin-bottom: 20px;
}
.image1:hover, .image2:hover, .image3:hover, .image4:hover{
    background-color: #ababab1e;
    box-shadow: 0 5px rgba(0, 0, 0, 0.251);
}
.image2{
    text-align: center;
    float: left;
    margin-left: 62px;
    margin-right: 15px;
    width: 200px;
    background-color: white;
    height: 320px;
    margin-bottom: 20px;
}
.image3{
    text-align: center;
    float: left;
    margin-left: 62px;
    margin-right: 15px;
    width: 200px;
    background-color: white;
    height: 320px;
    margin-bottom: 20px;
}
.image4{
    text-align: center;
    float: left;
    margin-left: 62px;
    margin-right: 15px;
    width: 200px;
    background-color: white;
    height: 320px;
    margin-bottom: 20px;
}
.image1 img{
    height: 250px;
    width: 100%;
}
.image2 img{
    height: 250px;
    width: 100%;
}
.image3 img{
    height: 250px;
    width: 100%;
}
.image4 img{
    height: 250px;
    width: 100%;
}
footer{
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}